@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <h2 class="app-title"><a href="/">ESCapist</a></h2>
          </div>
        </div>

        <nav class="navbar">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><a href="">One</a></li>
              <li><a href="">Two</a></li>
              <li><a href="">Three</a></li>
            </ul>

          </div>
        </nav>
      </div>
        @content
    </body>
</html>
